{% extends "model-page.html"%}
{% block content %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static '/vendors/codemirror/lib/codemirror.css' %}">
<script src="{% static '/vendors/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static '/vendors/codemirror/mode/python/python.js' %}"></script>
<script src="{% static '/vendors/codemirror/addon/selection/active-line.js' %}"></script>
<link rel="stylesheet" href="{% static '/vendors/codemirror/theme/monokai.css' %}">
<link rel="stylesheet" href="{% static '/vendors/codemirror/theme/darcula.css' %}">
<link rel="stylesheet" href="{% static '/vendors/codemirror/theme/dracula.css' %}">
<link rel="stylesheet" href="{% static '/vendors/codemirror/theme/colorforth.css' %}">
<link rel="stylesheet" href="{% static '/vendors/codemirror/theme/eclipse.css' %}">

<style>
.CodeMirror {border: 1px solid #aaa;}
</style>

<div class="page-title">
    <h3>{% translate "API" %}</h3>
</div>
<section class="section">
    <div class="card">
        <div class="card-header">
            API
        </div>


        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home"
                        role="tab" aria-controls="home" aria-selected="true">Função</a>
                </li>
                {% if extra.function %}
                    {% if perms.api_engine.change_api %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="environments-tab" data-bs-toggle="tab" href="#environments"
                            role="tab" aria-controls="environments" aria-selected="false">Environments</a>
                    </li>
                    {% endif %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="customers-tab" data-bs-toggle="tab" href="#customers"
                            role="tab" aria-controls="customers" aria-selected="false">Parceiros</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body">
                        {% if form.erros %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% if messages %}
                        <div class="row">
                            <ul class="messages">
                                {% for message in messages %}
                                    <div class="alert {% if message.tags == "error" %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                        <form action=
                            {% if extra.function%}
                                {% url 'api_engine:function' extra.function.id %}
                            {% else %}
                                {% url 'api_engine:function' %}
                            {% endif %}
                            method='POST'>{% csrf_token %}
                   
                            {{ form.name|as_crispy_field }}
                            {{ form.domain|as_crispy_field }}
                            {{ form.url_name|as_crispy_field }}
                            <div id="full-url-div" class="mb-3">
                                <label for="id_url_name" class="form-label requiredField">
                                    Full URL
                                </label>
                                <input
                                    type="text"
                                    name="full_url"
                                    value="{{ extra.function.full_url }}"
                                    class="textinput textInput form-control"
                                    required=""
                                    id="id_full_url"
                                    disabled
                                />
                                {% if extra.function %}
                                <a href="{{ extra.function.swagger_doc_url }}" target="_blank">OpenAPI Doc</a>
                                {% endif %}
                            </div>
                            
                            {{ form.http_method|as_crispy_field }}
                            {{ form.description|as_crispy_field }}
                            {{ form.code|as_crispy_field }}    
                            {{ form.team|as_crispy_field }}
                            {{ form.active|as_crispy_field }}
                            {% if perms.api_engine.change_api %}
                            <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
                            {% endif %}
                        </form>
                    
                    </div>
                </div>

                {% if perms.api_engine.change_api %}   
                <div class="tab-pane fade" id="environments" role="tabpanel" aria-labelledby="environments-tab">
                    {% include "function/environment-tab.html" %}
                </div>
                {% endif %}

                <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
                    {% include "function/customers-tab.html" %}
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    let python_editor = document.getElementsByClassName("python-editor");
    
    Array.prototype.forEach.call(python_editor, function(el) {
        var editor = CodeMirror.fromTextArea(el, {
            lineNumbers: true,
            gutters: ["CodeMirror-linenumbers", "breakpoints"],
            styleActiveLine: true,
            matchBrackets: true,
            theme: "default",
            mode: "python",
        });
        editor.save()
    });
    $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){});
</script>

{% endblock %}