{% extends "model-page.html"%}
{% block content %}
<div class="page-title">
    <h3>Alteração de senha</h3>
    <p class="text-subtitle text-muted">Preencha o formulário abaixo para alteração de senha</p>
    <p class="text-subtitle text-muted">A nova senha deve conter números e letras, maiúculas e minúsculas, e ter no minímo 8 caracteres.</p>
    
</div>
<section class="section">
    <form action="{% url 'change-password' %}" method="POST">{% csrf_token %}
        <div class="row">
            <div class="col-md-5 col-sm-5">
                {% if messages %}
                    <div class="row">
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert {%if message.tags == "error" %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}alert-dismissible fade show" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group position-relative has-icon-left">
                    <label for="password">Senha atual</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="form-control-icon">
                            <i data-feather="lock"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <label for="new_password">Nova Senha</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="new_password" name="new_password"
                         minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Deve conter números e letras, maiúculas e minúsculas, e ter no minímo 8 caracteres." required>
                        <div class="form-control-icon">
                            <i data-feather="lock"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <label for="confirm_new_password">Confirmar nova senha</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" 
                            minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Deve conter números e letras, maiúculas e minúsculas, e ter no minímo 8 caracteres." required>
                        <div class="form-control-icon">
                            <i data-feather="lock"></i>
                        </div>
                    </div>
                </div>
                
                <button type="submitted" class="btn btn-success"><b>Alterar</b></button>
            </div>
        </div>
    </form>
</section>

{% endblock %}