{% extends "model-page.html"%}
{% block content %}
<div class="menu-time mb-2">
    <select class="form-select" aria-label="Default select example" style="width: 200px; float:right;" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        <option value="?time=0" {% if request.GET.time == '0' %} selected {% endif %}>Hoje</option>
        <option value="?time=3" {% if request.GET.time == '3' %} selected {% endif %}>3 dias</option>
        <option value="?time=7" {% if request.GET.time == '7' %} selected {% endif %}>7 dias</option>
        <option value="?time=30" {% if request.GET.time == '30' %} selected {% endif %}>30 dias</option>
        <option value="?time=90" {% if request.GET.time == '90' %} selected {% endif %}>90 dias</option>
        <option value="?time=180" {% if request.GET.time == '180' %} selected {% endif %}>180 dias</option>
    </select>
</div>


<div class="page-title">
    <h3>Visão Geral</h3>
</div>
<section class="section">
    
    <div class="card">
        <div class="card-header">
            Execução de Integrações
        </div>
        <div class="card-body">
            <div class="row mb-2">
                {% include "dashboard/schedule/cards/total-execution.html" %}
                {% include "dashboard/schedule/cards/total-execution-success.html" %}
                {% include "dashboard/schedule/cards/total-execution-error.html" %}
                {% include "dashboard/schedule/cards/total-execution-queue.html" %}
                {% include "dashboard/schedule/cards/total-execution-processing.html" %}
                {% include "dashboard/schedule/cards/total-execution-pending.html" %}
            </div>
                {% include "dashboard/schedule/graphics/bar-per-integration.html" %}
                {% include "dashboard/schedule/graphics/integration-area-per-date.html" %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Execuções de Tickets
        </div>
        <div class="card-body">
            <div class="row mb-2">
                {% include "dashboard/ticket/cards/total-execution.html" %}
                {% include "dashboard/ticket/cards/total-execution-success.html" %}
                {% include "dashboard/ticket/cards/total-execution-error.html" %}
                {% include "dashboard/ticket/cards/total-execution-queue.html" %}
                {% include "dashboard/ticket/cards/total-execution-processing.html" %}
                {% include "dashboard/ticket/cards/total-execution-pending.html" %}
            </div>
                {% include "dashboard/ticket/graphics/bar-per-integration.html" %}
                {% include "dashboard/ticket/graphics/ticket-area-per-date.html" %}
        </div>
    </div>
    
</section>

{% endblock %}