{% load static %}
{% load menu_extras %}
<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
        <a href="/">
        <div class="sidebar-header">
            <img src="{% static '/images/main_logo.svg' %}" alt="" srcset="" width="100%">
            <h3 align="center">IA Engine</h3>
        </div>
        </a>
        <div class="sidebar-menu">
            <ul class="menu">


                <li class='sidebar-title'>Menu Principal</li>



                <li class="sidebar-item {% active 'index' %}">
                    <a href="{% url 'index' %}" class='sidebar-link'>
                        <i data-feather="home" width="20" style="color: rgb(6, 77, 6)"></i>
                        <span>Inicial</span>
                    </a>
                </li>

                <li class="sidebar-item {% active 'task_engine:action-list, task_engine:action, task_engine:schedule-list, task_engine:schedule' %} has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="git-pull-request" width="20"></i>
                        <span>Integrações</span>
                    </a>
                    <ul class="submenu {% active 'task_engine:action-list, task_engine:action, task_engine:schedule-list, task_engine:schedule' %}">
                        <li>
                            <a href="{% url 'task_engine:schedule-list' %}">Listar Integrações</a>
                        </li>
                        {% if perms.task_engine.change_automation %}
                        <li>
                            <a href="{% url 'task_engine:schedule' %}">Criar Integração</a>
                        </li>
                        {% endif %}

                        <li>
                            <a href="{% url 'task_engine:action-list' %}">Listar Ações</a>
                        </li>    
                        {% if perms.task_engine.change_automation %}
                        <li>
                            <a href="{% url 'task_engine:action' %}">Criar Ação</a>
                        </li>      
                        {% endif %}                       
                    </ul>
                </li>

                <li class="sidebar-item {% active 'task_engine:schedule-execution-list, task_engine:schedule-execution, task_engine:ticket-list, task_engine:ticket' %} has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="settings" width="20"></i>
                        <span>Execuções</span>
                    </a>
                    <ul class="submenu {% active 'task_engine:schedule-execution-list, task_engine:schedule-execution, task_engine:ticket-list, task_engine:ticket' %}">
                        <li>
                            <a href="{% url 'task_engine:schedule-execution-list' %}">Execuções Schedule</a>
                        </li>

                        <li>
                            <a href="{% url 'task_engine:ticket-list' %}">Tickets</a>
                        </li>                          
                    </ul>
                </li>

                <li class="sidebar-item {% active 'api_engine:function-list, api_engine:function, api_engine:domain-list, api_engine:domain, api_engine:customer-list, api_engine:customer' %} has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="zap" width="20"></i>
                        <span>API Maker</span>
                    </a>
                    <ul class="submenu {% active 'api_engine:function-list, api_engine:function, api_engine:domain-list, api_engine:domain, api_engine:customer-list, api_engine:customer' %}">
                        <li>
                            <a href="{% url 'api_engine:function-list' %}">Listar API's</a>
                        </li>
                        {% if perms.api_engine.change_api %}
                        <li>
                            <a href="{% url 'api_engine:function' %}">Criar API</a>
                        </li>   
                        {% endif %}
                        <li>
                            <a href="{% url 'api_engine:domain-list' %}">Listar Dominios</a>
                        </li>    
                        {% if perms.api_engine.change_api %}
                        <li>
                            <a href="{% url 'api_engine:domain' %}">Criar Dominio</a>
                        </li>   
                        {% endif %}
                        <li>
                            <a href="{% url 'api_engine:customer-list' %}">Listar Parceiros</a>
                        </li>    
                        {% if perms.api_engine.change_api %}
                        <li>
                            <a href="{% url 'api_engine:customer' %}">Criar Parceiro</a>
                        </li>      
                        {% endif %}                 
                    </ul>
                </li>

                {% if request.user.is_staff %}
                    <li class="sidebar-item {% active 'admin' %}">
                        <a href="/admin" class='sidebar-link'>
                            <i data-feather="tool" width="20" style="color: rgb(6, 77, 6)"></i>
                            <span>Admin</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>

